h1{
	font-size: 30px;
	color: white;
	font-family: monospace;
	padding-left: 3px;
	text-align: left; 
}


ul{
	margin: 0;
	font-family: sans-serif;
	color: #696969;
	font-size: 23px;
	padding-top: 20px;
	padding-left: 50px;
	float: left;
}

label{
	color: #696969;
	padding-left: 18px;
}

.container{
	background-color: white;
	width: auto;
	height: auto;
}

.header{
	background-color: #696969;
	padding: 1px 10px;
}

.menu{
	background-color: white;
}

.mn{
	padding-top: 18px;
	padding-right: 50px;
	background-color: #DCDCDC;
}

.badan{
	height: 450px;
	background-image: url(background_project.png);
}

.border{
	background-color: white;
	width: 300px;
	height: 325px;
	border-radius: 10px;
}

.login_button{
		border-radius: 10px;
		background-color: #DCDCDC;
		width: 93px;
		height: 30px;
		color: #696969;
		font-family: sans-serif;
		font-size: 17px;
		font-weight: bold;
}

.form_login{
	width: 80%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 20px;
}

.form_search{
	width: 80px;
	padding: 5px;
	font-family: sans-serif;
	font-size: 15px;
}